{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
<br> 
<br> 
<br> 
<br> 
<br> 
<div class="page-header">
  {% if collection %}
    <h1> Edit Collection</h1>
  {% else %}
    <h1>Add a Collection</h1>
  {% endif%}
  <img 
    src="{% static 'images/collection.webp' %}" 
    alt="Collection of Coins"
    width="100px"
  />
</div>
<hr/>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}