{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/collections/collection-detail.css' %}"
/>
<script defer src="{% static 'js/collection-detail.js' %}"></script>
{% endblock %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="collection-container">
  <div class="collection-img">
    <img 
      src="{% static 'images/collection.webp' %}" 
      alt="A coin collection"
      width="100px"
    >
  </div>
  <div class="collection-details">
    <h1>{{ collection.name }}</h1>
    <p>{{ collection.description }}</p>
  </div>
  <div class="collection-actions">
    <a href="{% url 'collections_update' collection.id %}" class="btn warn">Edit</a>
    <a href="{% url 'collections_delete' collection.id %}" class="btn danger">Delete</a>
  </div>
</section>

<div class="offers-coin-container">
  <section class="offers">
    <div class="subsection-title">
      <h2>Offers</h2>
      <img 
        src="{% static 'images/collection.webp' %}" 
        alt="A collection of coins"
      />
    </div>
    <h3>Add an Offer</h3>
    <form
      action="{% url 'add_offer' collection.id%}"
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ offer_form.as_p }}
      <button type="submit" class="btn submit">Add Offer</button>
    </form>
    <h3>Past Offers</h3>
    {% if collection.offer_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Offerrer</th><th>Amount</th></tr>
        </thead>
        <tbody>
          {% for offer in collection.offer_set.all %}
            <tr>
              <td>{{offer.date}}</td>
              <td>{{offer.offerrer}}</td>
              <td>${{offer.amount}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p> No offers have been made on {{collection.name}} collection</p>
    {% endif %}
  </section>
  <section class="coins">
    <div class="subsection-title">
      <h2>Coins</h2>
    </div>
    <h3>Coins in {{ collection.name }}</h3>
    <div class="subsection-content">
      {% if collection.coins.count %}
        {% for coin in collection.coins.all %}
          <div class="coin-container">
            <div class="color-block">
            </div>
            <a href="{% url 'coins_detail' coin.id %}">
              <p>A {{ coin.name }} from {{ coin.mintage }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-coins">{{collection.name}} doesn't have any coins </p>
      {% endif %}
    </div>
    <h3>Available Coins</h3>
    <div class="subsection-content">
      {% if coins.count %}
        {% for coin in coins.all %}
          <div class="coin-container">
            <div class="color-block">
            </div>
            <a href="{% url 'coins_detail' coin.id %}">
              <p>A {{ coin.name }} from {{coin.mintage}}</p>
            </a>
            <form action="{% url 'assoc_coin' collection.id coin.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Add Coin to Collection</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-coins">
          {{collection.name}} already has all the available coins
        </p>
      {% endif %}
    </div>
  </section>
</div>


{% endblock %}