{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/collections/collection-index.css' %}"
/>

{% endblock %}

{% block content %}

<section class="page-header">
  <h1>List of Collections</h1>
</section>

<section class="card-container">
  {% for collection in collections %}
    <a href="{% url 'collections_detail' collection.id %}"
      <div class="card">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/collection.webp' %}" 
              alt="Collection of coins"
              width="100px"
            >
          </div>
          <h2 class="card-title">{{ collection.name }}</h2>
          <p><small>{{ collection.description }}</small></p>
        </div>
      </div>
    </a>
  {% endfor %}
</section>

{% endblock %}