main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

h1{
  font-size: 60px;
}

.header-logo-container {
  display: none;
}

.logo-container {
  max-width: 375px;
}

.coin-container {
  width: 80%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  border: 2px solid black;
  outline: 2px solid yellow;
  margin: 0 10px;
  border-radius: 10%;
}

.login h1 {
  font-size: clamp(3.2rem, 3vw, 4.8rem);
  margin: 10px 0;
  width:300px;
}

.login > p {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 14px 0 0px;
  width:300px;
}

.login label {
  margin-bottom: 6px;
  width:300px;
}

.login input {
  padding: 2px 4px;
  width:300px;
}

.login .btn {
  align-self: flex-end;
  margin-right: 0;
  margin-top: 16px;
}

#home-container{
  width: 100%;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

@media only screen and (min-width: 768px) {
  main {
    justify-content: space-around;
  }

  .login {
    padding: 20px;
    width: 100%;
  }

  .logo-container {
    max-width: 520px;
  }
}